.news-preview {
  margin: 20px;
  border-radius: 20px;

  h2 {
    margin: 20px;
  }

  .news-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 24px;
  }

  @media (min-width: 800px) {
    .news-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }

    margin: 20px 10%;
  }

  @media (min-width: 1200px) {
    .news-wrapper {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
