.header {
  position: relative;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #170c16;
  padding: 15px 0;

  img {
    height: 75px;
    user-select: none;
  }

  a {
    height: 75px;
  }
}
